<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user chatbot</title>
</head>
<body>

    <div class="chatbot_container"
     id="chatbot_container">

        <form action="/query" method="post">
            <input type="text"
            placeholder="how can we help you?"
            name="user_message"
            id="user_message">
            <button>send</button>
        </form>

    </div>

    
    
</body>
</html>